<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdmoney.message.push.dao.MsgPhoneDAO">
    <resultMap type="com.zdmoney.message.push.model.MsgPhone" id="getMap">
    </resultMap>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into T_MSG_PHONE (CREATE_TIME, MODIFY_TIME, OPERATOR, CELLPHONE_NUM, DEVICE_ID,
        DEVICE_TYPE,BATCH_NO, TASK_NO, PUSH_TIME, STATUS) values

        <foreach collection="list" item="phone" index="index" separator=",">
            (#{phone.createTime}, #{phone.modifyTime}, #{phone.operator}, #{phone.cellphoneNum},
            #{phone.deviceId}, #{phone.deviceType}, #{phone.batchNo}, #{phone.taskNo}, #{phone.pushTime},
            #{phone.status})
        </foreach>
    </insert>

</mapper>