<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdmoney.message.sm.dao.SmNotifyHistoryDAO">
    <resultMap type="com.zdmoney.message.sm.model.SmNotifyHistory" id="getMap">

    </resultMap>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO T_SM_NOTIFY_HIS (ID, MOBILE, SEND_MSG, SEND_STATUS, RET_MSG,
        SM_CHANNEL_TYPE,CREATE_TIME, MODIFY_TIME, OPERATOR,SM_SOURCE) VALUES
        <foreach collection="list" item="sm" index="index" separator=",">
            (#{sm.id}, #{sm.mobile}, #{sm.sendMsg},#{sm.sendStatus},#{sm.retMsg},#{sm.smChannelType},
            #{sm.createTime}, #{sm.modifyTime}, #{sm.operator},#{sm.smSource})
        </foreach>
    </insert>

</mapper>