<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdmoney.message.sm.dao.SmVerifyCodeDAO">
    <resultMap type="com.zdmoney.message.sm.model.SmVerifyCode" id="getMap">

    </resultMap>

    <parameterMap id="reqMap" type="com.zdmoney.message.sm.model.SmVerifyCode"/>

    <select id="statSmVerifyCode" resultType="com.zdmoney.message.sm.model.StatRecord">
        SELECT SM_CHANNEL_TYPE,SEND_STATUS,COUNT(SEND_STATUS) AS SEND_NUM FROM T_SM_VERIFYCODE  WHERE (SEND_STATUS=1 OR SEND_STATUS=2) AND MODIFY_TIME &gt;= #{startTime} AND MODIFY_TIME &lt;= #{endTime} GROUP BY SM_CHANNEL_TYPE, SEND_STATUS;
    </select>

    <select id="getListById" resultMap="getMap">
        SELECT * FROM T_SM_VERIFYCODE
        <![CDATA[WHERE ID IN ]]>
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <delete id="batchDelete" parameterType="java.util.List">
        DELETE FROM T_SM_VERIFYCODE WHERE id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>

    <update id="updateVerifyCode" parameterMap="reqMap">
        UPDATE T_SM_VERIFYCODE SET SEND_STATUS = #{sendStatus},MODIFY_TIME = #{modifyTime},
        SM_CHANNEL_TYPE = #{smChannelType},RET_MSG = #{retMsg} WHERE MOBILE=#{mobile}
         AND VERIFY_CODE=#{verifyCode} AND SEND_STATUS=0
    </update>

</mapper>