<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       		http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <bean id="mqConfig" class="com.zdmoney.mq.client.config.MqConfig">
        <property name="address" value="172.16.250.147:9876"/>
    </bean>



    <!-- 消费者 -->
    <bean id="testMqMessageLister" class="com.zdmoney.mq.client.test.TestMqMessageListener"/>
    <bean id="testMqConsumer" class="com.zdmoney.mq.client.consumer.MqConsumer">
        <property name="mqConfig" ref="mqConfig"/>
        <property name="group" value="TEST"/>
        <property name="topic" value="TEST"/>
        <property name="tag" value="TEST"/>
        <property name="mqMessageListener" ref="testMqMessageLister"/>
    </bean>


</beans>